{% extends '_base.html' %}
{% load static %}
{% load crispy-forms_tags %}


{% block title %}Login{% endblock title %}


{% block content %}
    <h2>Login</h2>
    <form method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-suscess" type="submit">Login</button>

    </form>
{% endblock content %}