{% extends '_base.html' %}
{% load crispy-forms_tags %}


{% block title %}Logout{% endblock title %}


{% block content %}
    <h2>Logout</h2>
    <form method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-suscess" type="submit">Logout</button>

    </form>
{% endblock content %}