<section class="section-padding gray-bg" id="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="single-blog">
                    <div class="blog-photo">
                        <img src="images/small1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">Beautiful Place for your Great Journey</a></h3>
                        <ul class="blog-meta">
                            <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                            <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nemo eaque expedita aliquid dolorem repellat perferendis, facilis aut fugit, impedit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="single-blog">
                    <div class="blog-photo">
                        <img src="images/small2.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">Beautiful Place for your Great Journey</a></h3>
                        <ul class="blog-meta">
                            <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                            <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nemo eaque expedita aliquid dolorem repellat perferendis, facilis aut fugit, impedit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="single-blog">
                    <div class="blog-photo">
                        <img src="images/small3.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="#">Beautiful Place for your Great Journey</a></h3>
                        <ul class="blog-meta">
                            <li><span class="ti-user"></span> <a href="#">Admin</a></li>
                            <li><span class="ti-calendar"></span> <a href="#">Feb 01, 2017</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nemo eaque expedita aliquid dolorem repellat perferendis, facilis aut fugit, impedit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>