<!-- templates/home.html ##Main Landing Page for App-->

{% extends '_base.html' %}

<!--Title-->
    {% block title %}Meet Nait{% endblock title %}


<!--Header-area-->
    {% block header %}
          <header class="header-area overlay full-height relative v-center" id="home-page">
            <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text">
                        <h2>It’s all about Promoting your Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ex inventore vel error quibusdam animi fugiat, doloribus dolores consectetur nulla deleniti sint blanditiis quod debitis quis vitae officiis tempora numquam.</p>
                        <a href="#" class="button white">Watch video</a>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-5 text-right">
                        <div class="screen-box screen-slider">
                            <div class="item">
                                <img src="images/screen-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/screen-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/screen-3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/screen-4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/screen-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </header>

    {% endblock header %}
<!--End Header-area/-->

<!--Content Area-->
    {% block content %}
    <!--Features-->
          <section class="gray-bg section-padding" id="service-page">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/service-icon-1.png" alt="">
                            </div>
                            <h4>EASY TO USE</h4>
                            <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod tepo raraincididunt ugt labore.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/service-icon-2.png" alt="">
                            </div>
                            <h4>AWESOEM DESIGN</h4>
                            <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod tepo raraincididunt ugt labore.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/service-icon-3.png" alt="">
                            </div>
                            <h4>EASY TO CUSTOMAIZE</h4>
                            <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod tepo raraincididunt ugt labore.</p>
                        </div>
                    </div>
                </div>
            </div>
          </section>
    <!--End Features-area/--> 

    <!-- about section -->
          <section class="about_section layout_padding2-top layout_padding-bottom">
            <div class="design-box">
              <img src="images/design-2.png" alt="">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="heading_container">
                      <h2>
                        Nait is Different
                      </h2>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                      veniam, quis nostrud
                    </p>
                    <div>
                      <a href="https://about.innait.io/">
                        Learn More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/about-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>
    <!-- end about section -->
    {% endblock content %}
    {% extends 'team.html' %}
<!--End Content-->
    