{% extends '_base.html' %}

{% block Team %}
        <section class="section-padding gray-bg" id="team-page">
            <div class="container">
            <!--Team Intro-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div class="page-title">
                            <h2>Special team</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, temporibus at, facere harum fugiat!</p>
                        </div>
                    </div>
                </div>
            <!--Team Members-->
                <div class="row">
                <!--Shiv Kalola-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-1.png" alt="">
                            </div>
                            <h4>Shiv Kalola</h4>
                            <h5>Chief Product Manager</h5>
                            <h6>General Super Hero</h6>
                           <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
                <!--Lee Speers-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-2.png" alt="">
                            </div>
                            <h4>Lee Speers</h4>
                            <h6>Data Specalist</h6>
                            <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
                <!--Roger Mukai-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-3.png" alt="">
                            </div>
                            <h4>Roger Mukai</h4>
                            <h5>Cheif Executive and Founder</h5>
                            <h6>Human Behavioral Specalist & Systems Designer </h6>
                            <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
                <!--Jonathon Robin-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-4.png" alt="">
                            </div>
                            <h4>Jonaton Robin</h4>
                            <h5>Chief Technology Officer</h5>
                            <h6>Network Engineer and Data Security Specalist</h6>
                            <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
                <!--Justin Lee-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-4.png" alt="">
                            </div>
                            <h4>Justin Lee</h4>
                            <h6>Creative Director</h6>
                            <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
                <!--Alan Anderson-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="images/team-section-4.png" alt="">
                            </div>
                            <h4>Alan Anderson</h4>
                            <h6>Market Strategist and Busines Development</h6>
                            <!--ul class="social-menu">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <!-ul -->
                        </div>
                    </div>
            <!--End Team Members-->
                </div>
            </div>
        </section>

{% endblock Team %}
    