<section class="testimonial-area section-padding gray-bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>Client says</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, temporibus at, facere harum fugiat!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="testimonials">
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-1.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-2.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-3.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-4.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-5.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src="images/avatar-small-6.png" alt="">
                        </div>
                        <h3>AR Rahman</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero dolore officiis, velit id libero illum harum hic magni, quae repellendus adipisci possimus saepe nostrum doloribus repudiandae asperiores commodi voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>