{% load static %}
<!DOCTYPE html>
<html>

    <head>
            <meta charset="utf-8">
        <!-- Mobile Metas -->
             <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
            <meta name="description" content="
            {% block description %}{% endblock description %}" />
            <meta name="author" content="Roger Mukai" />
            <meta name="keywords" content="Smart Home, IoT, Smart Device, Smart Urban, Smart City, Digital Assistants, Startup, Technology, Tech, AI, ML, Artafical Intellegance">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Place favicon.ico in the root directory -->
            <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
            <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
            <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
      
        <!-- bootstrap core css -->
        <!-- Main-Stylesheets -->
            <link rel="stylesheet" href="css/normalize.css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="css/responsive.css">
            <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- Plugin-CSS -->
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/themify-icons.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/animate.css">
            <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
        <!-- fonts style -->
        <link rel="stylesheet" href="https://use.typekit.net/bcq2opm.css">
        <link href="css/style.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="css/responsive.css" rel="stylesheet" />
        <!-- responsive style -->

        <title>{% block title %}{% endblcok title %}</title>

    </head>

    <body data-spy="scroll" data-target="#primary-menu"></bodydata-spy>>
        
        <!--Pre Loader-->
                    <div class="preloader">
                        <div class="sk-folding-cube">
                            <div class="sk-cube1 sk-cube"></div>
                            <div class="sk-cube2 sk-cube"></div>
                            <div class="sk-cube4 sk-cube"></div>
                            <div class="sk-cube3 sk-cube"></div>
                        </div>
                    </div>
        <!--End Pre Loader-->
                    
<!--Mainmenu-area-->
                <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
                <div class="container">
    <!--Logo-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="https://bit.ly/2SKhDWV" class="navbar-brand logo">
                            <h2>Nait</h2>
                        </a>
                    </div>
    <!--End Logo-->

    <!--Navbar-->
                <nav class="collapse navbar-collapse" id="primary-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home-page">Home</a></li>
                        <li><a href="#service-page">Service</a></li>
                        <li><a href="#feature-page">Features</a></li>
                        <!--li><a href="#price-page">Pricing</a><!--/li-->
                        <li><a href="#team-page">Team</a></li>
                        <li><a href="#faq-page">FAQ</a></li>
                        <li><a href="#blog-page">Blog</a></li>
                        <li><a href="#contact-page">Contact</a></li>
    
                        {% if  %}
                                <li><a class="p-2 text-dark" href="{% 'account_logout' %}">Logout</a></li>
                        {% else %}
                            <li><a class="p-2 text-dark" href="{% 'account_login' %}">Login</a></li>
                            <li><a class="btn btn-outline-primary" href="{% 'account_signup' %}">Signup</a></li>
                        {% endif %}
                        
                    </ul>
                </nav>
    <!-- End Navbar-->
                </div>
                </div>
<!--End Menu-->

<!--Header Area-->
            <div Class="container">
             <header>
                {% block header %}{% endblock header %}
             </header>
            </div>
<!--End Header Area-->
        
    <!--Main Area-->
        {% block content %}{% endblock content %}
    <!--End Main Area-->
                
    <!-- contact section -->
                <section class="contact_section layout_padding">
                    <div class="design-box">
                    <img src="images/design-2.png" alt="">
                    </div>
                    <div class="container ">
                    <div class="">
                        <h2 class="">
                        Contact Us
                        </h2>
                    </div>

                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        <form action="">
                            <div>
                            <input type="text" placeholder="Name" />
                            </div>
                            <div>
                            <input type="email" placeholder="Email" />
                            </div>
                            <div>
                            <input type="text" placeholder="Phone" />
                            </div>
                            <div>
                            <input type="text" class="message-box" placeholder="Message" />
                            </div>
                            <div class="d-flex ">
                            <button>
                                SEND
                            </button>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-6">
                        <div class="map_container">
                            <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>

    <!-- end contact section -->


<!-- Last section -->
                <section class="info_section ">
                    <div class="container">
                    <div class="info_container">
                        <div class="row">
                        <div class="col-md-3">
                            <div class="info_logo">
                            <a href="">
                                <img src="images/logo.png" alt="">
                                <span>
                                It's Nait
                                </span>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_contact">
                            <a href="">
                                <img src="images/location.png" alt="">
                                <span>
                                Charlotte, Noth Carolina
                                </span>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_contact">
                            <a href="">
                                <img src="images/phone.png" alt="">
                                <span>
                                +1 (980) 355 - 9596‬
                                </span>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_contact">
                            <a href="">
                                <img src="images/mail.png" alt="">
                                <span href="mailto:contact@innait.io">
                                contact@innait.io
                                </span>
                            </a>
                            </div>
                        </div>
                        </div>
                        <div class="info_form">
                        <div class="d-flex justify-content-center">
                            <h5 class="info_heading">
                            Newsletter
                            </h5>
                        </div>
                        <form action="">
                            <div class="email_box">
                            <label for="email2">Enter Your Email</label>
                            <input type="text" id="email2">
                            </div>
                            <div>
                            <button>
                                subscribe
                            </button>
                            </div>
                        </form>
                        </div>
                        <div class="info_social">
                        <div class="d-flex justify-content-center">
                            <h5 class="info_heading">
                            Follow Us
                            </h5>
                        </div>
                        <div class="social_box">
                            <a href="">
                            <img src="images/fb.png" alt="">
                            </a>
                            <a href="">
                            <img src="images/twitter.png" alt="">
                            </a>
                            <a href="">
                            <img src="images/linkedin.png" alt="">
                            </a>
                            <a href="">
                            <img src="images/insta.png" alt="">
                            </a>
                        </div>
                        </div>
                        </div>
                    </div>
                    </section>
    
<!--End Last Section-->


<!--Footer Area-->
                <footer class="footer-area relative sky-bg" id="contact-page">
                    <div class="absolute footer-bg"></div>
                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                                    <div class="page-title">
                                        <h2>Contact with us</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, temporibus at, facere harum fugiat!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <address class="side-icon-boxes">
                                        <div class="side-icon-box">
                                            <div class="side-icon">
                                                <img src="images/location-arrow.png" alt="">
                                            </div>
                                            <p><strong>Address: </strong> Box 564, Disneyland <br />USA</p>
                                        </div>
                                        <div class="side-icon-box">
                                            <div class="side-icon">
                                                <img src="images/phone-arrow.png" alt="">
                                            </div>
                                            <p><strong>Telephone: </strong>
                                                <a href="callto:8801812726495">+8801812726495</a> <br />
                                                <a href="callto:8801687420471">+8801687420471</a>
                                            </p>
                                        </div>
                                        <div class="side-icon-box">
                                            <div class="side-icon">
                                                <img src="images/mail-arrow.png" alt="">
                                            </div>
                                            <p><strong>E-mail: </strong>
                                                <a href="mailto:youremail@example.com">youremail@example.com</a> <br />
                                                <a href="mailto:youremail@example.com">example@mail.com</a>
                                            </p>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <form action="process.php" id="contact-form" method="post" class="contact-form">
                                        <div class="form-double">
                                            <input type="text" id="form-name" name="form-name" placeholder="Your name" class="form-control" required="required">
                                            <input type="email" id="form-email" name="form-email" class="form-control" placeholder="E-mail address" required="required">
                                        </div>
                                        <input type="text" id="form-subject" name="form-subject" class="form-control" placeholder="Message topic">
                                        <textarea name="message" id="form-message" name="form-message" rows="5" class="form-control" placeholder="Your message" required="required"></textarea>
                                        <button type="sibmit" class="button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 pull-right">
                                    <ul class="social-menu text-right x-left">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter"></i></a></li>
                                        <li><a href="#"><i class="ti-google"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-github"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corrupti architecto consequuntur, laborum quaerat sed nemo temporibus unde, beatae vel.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p>Copyright &copy; <span id="displayYear"></span> All Right Resurved By <a href="https://innait.io">InNait Inc.</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
<!--End Footer Area-->
   

{% block JavaScript %}

    <script src="{% static 'js/base.js'%}"></script>

{% endblock JavaScript %}
    
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>
</html>